{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Faculté des Sciences Fès</title>
        <!-- Styles -->
        <link href="https://www.fsdm.usmba.ac.ma/css/appet.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="https://www.fsdm.usmba.ac.ma/Template/img/USMBA.png"/>
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Branding Image -->
                        <a class="navbar-brand" href="/">
                            Scolarité
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="app-navbar-collapse">
                        <!-- Right Side Of Navbar -->
                        <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user" style="display: block;" >
                            <!-- Authentication Links -->
                            <li><a href="#"><img src="{{profile.profileimg.url}}" class="header-avatar" alt=""></a></li>
                            <li><a href="/settings" ><span class="blinking" ><b>{{user.profile.nom}}  {{user.profile.prenom}}</b></span></a></li> 
                            <li><a href="logout" >Déconexion</a></li>              
                        </ul>
                    </div>
                </div>
            </nav>
        <section style="padding-top:40px">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">Bienvenue {{user.profile.prenom}} {{user.profile.nom}}</div>

                            <div class="panel-body">
                            <br/>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="imgAbt">
                                            <a target="_blank" href={% url 'attestationreinscription' %}><img src="{% static '2718413.png' %}" width="150" height="150" align="right"></a>
                                        </div> 
                                    </div>
                                    <div class="col-md-8">
                                        <h2><b style="color: black">Attestation De Réinscription</b></h2>
                                        <div class="bg-gray-50 border-b border-gray-100 py-4 px-6 ">
                                            <h2 class="font-semibold text-lg" ><a target='_blank' href={% url 'attestationreinscription' %}>Print</a></h2>
                                        </div>
                                    </div>
                                </div>
    <br/><br/>                            
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="imgAbt">
                                            <a target="_blank" href={% url 'attestationscolarite' %}><img width="150" height="150" align="right" src="{% static '2718154.png' %}"> </a>
                                        <!-- Button to trigger the modal -->
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h2><b style="color: black">Attestation De Scolarité</b></h2>
                                        <div class="bg-gray-50 border-b border-gray-100 py-4 px-6 ">
                                            <h2 class="font-semibold text-lg" ><a target='_blank' href={% url 'attestationscolarite' %}>Print</a></h2>
                                        </div>
                                    </div>
                                </div><br/><br/>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="imgAbt">
                                            <a target='_blank' href={% url 'attestationscolarite' %}><img width="150" height="150" align="right" src="{% static '4784338.png' %}"> </a>
                                        <!-- Button to trigger the modal -->
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h2><b style="color: black">Bilan De Note</b></h2>
                                        <div class="bg-gray-50 border-b border-gray-100 py-4 px-6 ">
                                            <h2 class="font-semibold text-lg" ><a target='_blank' href={% url 'bilandenotes' %}>Print</a></h2>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </section>
        
        </div>







        


    </body>
</html>














{% comment %} <!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Scolarité</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

            <header>
                <div class="header_inner">
                    <div class="right-side lg:pr-4">
                        <a href="#"><img src="{{profile.profileimg.url}}" class="header-avatar" alt=""></a>
                        <a href="/settings"> {{user.profile.nom}}  {{user.profile.prenom}}  |</a>
                        <a href="logout"> Log Out</a>
                    </div>
                </div>
            </header>

            <div class="container m-auto">

                    </div>

                    <!-- right sidebar-->
                    <div class="lg:w-5/12">
                        
                        <div class="bg-white  shadow-md rounded-md overflow-hidden">
                            <div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
                                <h2 class="font-semibold text-lg" ><a href={% url 'attestationreinscription' %}>Attestation Reinscription</a></h2>
                                
                            </div>
                            <div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
                                <h2 class="font-semibold text-lg" ><a href={% url 'attestationscolarite' %}>Attestation Scolarité</a></h2>
                                <!-- <a href="#"> Refresh</a> --> 
                            </div>
                           
                            

                        </div>

                      

                    </div>

                </div>               
          

            </div>

        </div>

    </div>








 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html> {% endcomment %}


{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{user.profile.profileimg.url}}" class="header-avatar" alt="">
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/settings">Profile {{user.profile.prenom}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logout">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-7">
    
                <div class="bg-white shadow-md rounded-md overflow-hidden mb-4">
                    <div class="bg-gray-50 border-b border-gray-100 py-4 px-6 ">
                        <h2 class="font-semibold text-lg">
                            <a href="#" class="text-decoration-none text-dark">Attestation de Reinscription</a>
                        </h2>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Informations
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item">C.I.N : {{user.profile.cin}}</a></li>
                                <li><a class="dropdown-item">C.N.E : {{user.profile.cne}}</a></li>
                                <li><a class="dropdown-item">Prénom : {{user.profile.prenom}}</a></li>
                                <li><a class="dropdown-item">Nom : {{user.profile.nom}} || {{user.profile.filiere}}</a></li>
                                <li><a class="dropdown-item">Vous demander cette attestation: Attestation de Reinscription</a></li>
                                <li><h2 class="dropdown-item font-semibold text-lg"><a href={% url 'attestationreinscription' %} class="text-decoration-none text-dark">Print</a></h2></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bg-gray-50 border-b border-gray-100 py-4 px-6 ">
                        <h2 class="font-semibold text-lg" ><a href={% url 'attestationscolarite' %}>Attestation Scolarité</a></h2>
                    </div>
                </div>
             <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>








 {% endcomment %}
