{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!-- Section: Design Block -->
{%load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Faculté des Sciences Fès</title>

    <!-- Styles -->
    <link href="https://www.fsdm.usmba.ac.ma/css/appet.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://www.fsdm.usmba.ac.ma/Template/img/USMBA.png"/>

</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    <li><a href="https://www.fsdm.usmba.ac.ma">FSDM</a></li>
                    <li><a href="https://www.fsdm.usmba.ac.ma/Student">Connexion</a></li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user" style="display: block;" >
                    <!-- Authentication Links -->
                                              <li><a href="https://www.fsdm.usmba.ac.ma">FSDM</a></li>
                      <li><a a href="signin" class="">Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
<section class="">
    <!-- Jumbotron -->
    
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h4 class="my-5 display-3 fw-bold ls-tight">Université Sidi Mohamed Ben Abdellah </h4><br /><h5><span class="text-primary">Faculté Des Sciences Dhar El Mahraz</span></h5>
            <p style="color: hsl(217, 10%, 50.8%)">
                <img src="{% static 'media/usmba.jpg' %}" alt="">
            </p>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>
                
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="_token" value="5QoAoQE9cbpxjfZqIx6cB9eMke03jOWHYYgr5nM3">
                    <input type="hidden" name="_token" value="5QoAoQE9cbpxjfZqIx6cB9eMke03jOWHYYgr5nM3">
                    
                    <div class="form-group">
                        <label input type="username" name="username" placeholder="Code National D'étudiant" class="col-md-4 control-label">CNE</label>
                        <div class="col-md-6">
                            <input onkeyup="this.value=this.value.toUpperCase()" id="username" type="text" class="form-control" name="username" value="" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label input type="password" name="password" placeholder="Code d'Identité National" class="col-md-4 control-label">CIN</label>
                        <div class="col-md-6">
                            <input onkeyup="this.value=this.value.toUpperCase()" autocomplete="off"  id="password" type="text" class="form-control" name="password" required> 

                                                            <br/>


                        </div>
                    </div>

                    

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button type="submit" class="btn btn-primary">
                                Se connecter
                            </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</body>












{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Sign In - Social Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body class="bg-gray-100">


    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <!-- header-->
        <div class="bg-white py-4 shadow dark:bg-gray-800">
            <div class="max-w-6xl mx-auto">


                <div class="flex items-center lg:justify-between justify-around">

                    <a href="trending.html">
                       <b><h1 style="font-size: 1.5rem;">scolarité</h1></b>
                    </a>


                </div>
            </div>
        </div>

        <!-- Content-->
        <div>
            <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
                <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Log in</h1>


                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>


                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password" placeholder="Password" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                    <!-- <div class="flex justify-between my-4">
                        <div class="checkbox">
                            <input type="checkbox" id="chekcbox1" checked>
                            <label for="chekcbox1"><span class="checkbox-icon"></span>Remember Me</label>
                        </div>
                        <a href="#"> Forgot Your Password? </a>
                    </div> -->
                    <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Login</button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base"> Not registered? <a href="signup" class=""> Create a account </a></p>
                    </div>
                </form>



            </div>
        </div>
        
        <!-- Footer -->

        
    </div>


    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


</body>


</html> {% endcomment %}